/* App Component Styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#app {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.logo {
  font-family: 'Montserrat', 'Manrope', 'Noto Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
} 

.tabbar-space {
  padding-bottom: 5rem;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}